@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, #a90258 0%, #47053a 60%, #12062a 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  margin-left: 25vw;
  margin-right: 25vw;
  min-height: 100vh;
  width: 50vw;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.create {
  margin: auto 0;
  width: inherit;

  & .presentation-title {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & .presentation {
    font-size: 1.125rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    gap: 0.8rem;
    width: 60%;

    & label {
      font-family: "Zain", serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 300;
    }

    & input,
    textarea {
      border: none;
      box-shadow: 1px 1px 2px 0 #12062a inset;
      font-size: 1rem;
      padding: 0.5rem;
      height: 2rem;
      width: 450px;
    }

    & textarea {
      height: 8rem;
    }

    & button {
      border: none;
      border-radius: 1.5rem;
      box-shadow: 1px 1px 2px 0 #12062a;
      background: #f7f7f7;
      font-size: 0.9rem;
      font-weight: 400;
      margin-top: 1rem;
      padding: 1rem 2rem;
      width: 110.25px;
      transition: all 0.5s;
    }

    & button:hover {
      background: #ff5734;
      box-shadow: 2px 2px 2px 0 #12062a;
      color: #f7f7f7;
      font-weight: 600;
    }
  }
}

.home {
  margin-top: 35px;
  margin-bottom: 70px;
  width: inherit;

  & p {
    font-size: 1rem;
    font-weight: 400;
  }

  & .presentation {
    font-size: 1.125rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 45px;
  }

  & .card {
    background-color: #fe007220;
    margin: 6px 0;
    padding: 20px 30px;
    height: 220px;
    width: inherit;
  }

  & .card > div {
    height: 180px;
  }

  & img {
    box-shadow: 3px 3px 6px 0 #12062a40;
    margin-right: 20px;
    height: 180px;
    width: 180px;
  }

  & .album-title {
    font-size: 1.8rem;
    font-weight: 900;
  }

  & .artist {
    font-size: 1rem;
    font-style: italic;
    font-weight: 200;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  & .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    line-height: 1.2;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-word;
    height: 78px;
  }

  & a {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }

  & button {
    color: #f7f7f7;
    transition: 0.5s;
  }

  & button:hover {
    color: #ff5734;
  }

  & .pagination {
    margin-top: 40px;

    & span {
      margin: 0 10px;
    }

    & a {
      margin-top: 0;
    }
  }

  & .chevron {
    box-shadow: none;
    margin: 0;
    height: 20px;
    width: auto;
  }
}

.post {
  margin: auto 0;
  margin-top: 35px;

  & img {
    box-shadow: 3px 3px 6px 0 #12062a40;
    margin-bottom: 20px;
    height: 400px;
    width: 400px;
  }

  & .post-title {
    font-size: 2.2rem;
    font-weight: 900;
  }

  & .post-artist {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  & .post-description {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 35px;
  }

  & .container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 110px;
    width: 50%;
  }

  & button {
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px 0 #12062a;
    background: #f7f7f7;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 2rem;
    width: 110.25px;
    transition: all 0.5s;
  }

  & button:hover {
    box-shadow: 2px 2px 2px 0 #12062a;
    color: #f7f7f7;
    font-weight: 600;
  }

  & .edit-button:hover {
    background: #ff5734;
  }

  & .delete-button:hover {
    background: #ca0303;
  }
}

.edit {
  margin: auto 0;

  & .edit-title {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & .edit-presentation {
    font-size: 1.125rem;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 10px;
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 1rem;
    gap: 0.8rem;
    width: 60%;

    & label {
      font-family: "Zain", serif;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 300;
    }

    & input,
    textarea {
      border: none;
      box-shadow: 1px 1px 2px 0 #12062a inset;
      font-size: 1rem;
      padding: 0.5rem;
      height: 2rem;
      width: 450px;
    }

    & textarea {
      height: 8rem;
    }

    & button {
      border: none;
      border-radius: 1.5rem;
      box-shadow: 1px 1px 2px 0 #12062a;
      background: #f7f7f7;
      font-size: 0.9rem;
      font-weight: 400;
      margin-top: 1rem;
      padding: 1rem 2rem;
      width: 110.25px;
      transition: all 0.5s;
    }

    & button:hover {
      background: #ff5734;
      box-shadow: 2px 2px 2px 0 #12062a;
      color: #f7f7f7;
      font-weight: 600;
    }
  }
}

.delete {
  margin: auto 0;
  margin-top: 35px;

  & .delete-post {
    background-color: #12062a60;
    border: 3px solid #f7f7f7 inset;
    box-shadow: 2px 2px 2px 0 #12062a40 inset;
    padding: 60px 50px;
    margin-bottom: 40px;
  }

  & img {
    box-shadow: 3px 3px 6px 0 #12062a40;
    margin-bottom: 20px;
    height: 400px;
    width: 400px;
  }

  & .delete-title {
    font-size: 2.2rem;
    font-weight: 900;
  }

  & .delete-artist {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  & .delete-description {
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
  }

  & p {
    font-size: 1.125rem;
    font-weight: 900;
    text-align: center;
  }

  & .container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 110px;
    width: 50%;
  }

  & button {
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 2px 0 #12062a;
    background: #f7f7f7;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 2rem;
    width: 110.25px;
    transition: all 0.5s;
  }

  & button:hover {
    box-shadow: 2px 2px 2px 0 #12062a;
    color: #f7f7f7;
    font-weight: 600;
  }

  & .yes-button:hover {
    background: #ca0303;
  }

  & .no-button:hover {
    background: #ff5734;
  }
}
