<%- include("partials/header") %>
  <main class="d-flex flex-column justify-content-center align-items-center w-50">
    <p class="h3">Create Post</p>
    <form class="w-75" action="/" method="POST">
      <div class="d-flex flex-column mb-3">
        <label class="form-label" for="title">title</label>
        <input class="form-control" type="text" name="title" id="title" minlength="2" maxlength="45" autofocus required />
      </div>
      <div class="d-flex flex-column">
        <label class="form-label" for="content">content</label>
        <textarea class="form-control" name="content" id="content" style="height: 100px" required></textarea>
      </div>
      <div class="d-flex flex-column mt-5">
        <button type="submit" class="btn btn-light">Submit</button>
      </div>
    </form>
  </main>
<%- include("partials/footer") %>