<%- include("partials/header") %>
  <main class="container-column create">
    <p class="presentation-title">"Share Your Thoughts on Music!"</p>
    <p class="presentation">
      Got an album that left an impression on you? Write a review and let the world know what makes it special.
      Whether it’s a masterpiece, a hidden gem, or just something that caught your ear, your words can help others discover great music.
      Start writing and share your passion!
    </p>
    <form action="/" method="POST">
      <input type="hidden" name="id" value="<%= uid %>" />
      <div>
        <div>
          <label for="artist">artist</label>
        </div>
        <input type="text" name="artist" id="artist" minlength="2" maxlength="45" autofocus required />
      </div>
      <div>
        <div>
          <label for="title">album title</label>
        </div>
        <input type="text" name="title" id="title" minlength="1" maxlength="45" required />
      </div>
      <div>
        <div>
          <label for="coverUrl">image</label>
        </div>
        <input type="text" name="coverUrl" id="coverUrl" minlength="2" required />
      </div>
      <div>
        <div>
          <label for="description">description</label>
        </div>
        <textarea name="description" id="description" minlength="2" required></textarea>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </main>
<%- include("partials/footer") %>