<%- include("partials/header") %>
  <main>
    <% locals.posts.forEach(({ title, id }) => { %>
      <div>
        <div>
          <p><%= title %></p>
          <a href="/post/<%= id %>">
            <button type="button">Read</button>
          </a>
        </div>
      </div>
    <% }) %>
  </main>
<%- include("partials/footer") %>
