<%- include("partials/header") %>
  <main class="d-flex flex-column justify-content-center align-items-center w-50">
    <% locals.posts.forEach((item) => { %>
      <div class=" card m-2 w-75">
        <div class="d-flex flex-row justify-content-between align-items-center card-body">
          <p class="m-0"><%= item.title %></p>
          <button class="btn btn-outline-light btn-sm" type="button">Read</button>
        </div>
      </div>
    <% }) %>
  </main>
<%- include("partials/footer") %>
