<%- include("partials/header") %>
  <main class="d-flex flex-column justify-content-center align-items-center w-75">
    <div class="w-auto">
      <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <p class="m-0"><%= post.title %></p>
        <p class="m-0"><%= post.content %></p>
      </div>
    </div>
  </main>
<%- include("partials/footer") %>