    <footer class="position-fixed bottom-0 d-flex flex-row justify-content-evenly align-items-center w-100">
      <p class="mb-1">© 2025 Tiago Lourinho. Todos os direitos reservados.</p>
      <p class="mb-1">Feito com Node.js, Express e EJS.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>