    <footer>
      <p>© <span>2030</span> Tiago Lourinho. Todos os direitos reservados.</p>
      <p>Feito com Node.js, Express e EJS.</p>
    </footer>
    <script src="/scripts/script.js"></script>
  </body>
</html>