<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Play</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <a href="/">
            <img src="/images/logo.png" alt="Audio Play brand logo" />
            <p>AUDIO PLAY</p>
          </a>
        </div>
        <div>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/create">New Post</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>