<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Play</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <header>
      <h1>Audio Play</h1>
      <nav>
        <ul>
          <li>Home</li>
          <li>New Post</li>
        </ul>
      </nav>
    </header>